/* Custom Theming for Angular Material */
@use '@angular/material' as mat;

@import 'variables';
@import 'typography';
@import 'addon';

@include mat.core($varthagam-typography-config);

/* -------------------------------------------------------------------------------------------------------------------- */
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($varthagam-light-theme);
@include theme($varthagam-light-theme);

.dark-theme {
    @include mat.all-component-colors($varthagam-dark-theme);
    @include theme($varthagam-dark-theme);
}
/* -------------------------------------------------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------------------------------------------------- */
/* Overrides */
.mat-h1, .mat-headline, .mat-typography .mat-h1, .mat-typography .mat-headline, .mat-typography h1,
.mat-body p, .mat-body-1 p, .mat-typography .mat-body p, .mat-typography .mat-body-1 p, .mat-typography p {
	margin: 0;
}
/* -------------------------------------------------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------------------------------------------------- */
/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-size: .8rem }

// Global Styles
.va-ic-val-positive {
    color: green;
    font-weight: bold;
}
.va-ic-val-negative {
    color: red;
}
/* -------------------------------------------------------------------------------------------------------------------- */
