/* Custom Theming for Angular Material */
@use 'sass:map';
@use '@angular/material' as mat;

@import 'variables';
@import 'typography';
@import 'addon';

@include mat.core();

/* -------------------------------------------------------------------------------------------------------------------- */
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($varthagam-light-theme);
@include theme($varthagam-light-theme);

.dark-theme {
    @include mat.all-component-colors($varthagam-dark-theme);
    @include theme($varthagam-dark-theme);

    background-color: map.get($va-dark, 900);
    color: #ffffff;
}
/* -------------------------------------------------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------------------------------------------------- */
/* You can add global styles to this file, and also import other style files */
* { box-sizing: border-box; }
html, body { height: 100%; }
body { margin: 0; font: 400 14px / 1.6em Roboto; }
/* -------------------------------------------------------------------------------------------------------------------- */
