// Typography Partials
@use '@angular/material' as mat;

$varthagam-typography-config: mat.define-typography-config(
    $font-family:   'Roboto, monospace',
    $display-4:     mat.define-typography-level(112px, 112px, 300, $letter-spacing: -0.05em),
    $display-3:     mat.define-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
    $display-2:     mat.define-typography-level(45px, 48px, 400, $letter-spacing: -0.005em),
    $display-1:     mat.define-typography-level(34px, 40px, 400),
    $headline:      mat.define-typography-level(1.4rem, 1.6rem, 400),
    $title:         mat.define-typography-level(1.4rem, 1.4rem, 400),
    $subheading-2:  mat.define-typography-level(1.2rem, 1.2rem, 400),
    $subheading-1:  mat.define-typography-level(1.2rem, 1.1rem, 400),
    $body-1:        mat.define-typography-level(1rem, 1.4rem, 400),
    $body-2:        mat.define-typography-level(1rem, 1.4rem, 400),
    $caption:       mat.define-typography-level(.8rem, 1rem, 400),
    $button:        mat.define-typography-level(1rem, 1rem, 400)
);
