h1 {
    font: 400 1.6em / normal Roboto;
}
h2 {
    font: 400 1.5em / normal Roboto;
}
h3 {
    font: 400 1.4em / normal Roboto;
}
h4 {
    font: 400 1.3em / normal Roboto;
}
h5 {
    font: 400 1.2em / normal Roboto;
}
h6 {
    font: 400 1.1em / normal Roboto;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.title {
    padding-bottom: 8px;
    font: 400 1.3em / normal Roboto;
}
