<section class="va-ic-search-and-filter">
	<mat-form-field class="va-ic-search-and-filter_form va-ic-search-and-filter_form_search_inp" color="accent">
		<mat-label>Search Scrip</mat-label>
		<input matInput class="va-ic-search-and-filter_form-input" type="text" [formControl]="searchScrip" autocomplete="off" />
	</mat-form-field>
	<mat-form-field class="va-ic-search-and-filter_form" color="accent">
		<mat-label>From date</mat-label>
		<input matInput [matDatepicker]="fromDate" autocomplete="off" />
		<mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
		<mat-datepicker #fromDate></mat-datepicker>
	</mat-form-field>
	<mat-form-field class="va-ic-search-and-filter_form" color="accent">
		<mat-label>Till date</mat-label>
		<input matInput [matDatepicker]="toDate" autocomplete="off" />
		<mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
		<mat-datepicker #toDate></mat-datepicker>
	</mat-form-field>
</section>