// Import Global Vathagam Styles
@use 'sass:map';
@use '@angular/material' as mat;

@import '../../../../master-styles';

$prim: map.get($va-light, 600);

.va-ic-main-wrapper {
    display: block;
    width: 100%;
    height: 100%;
}
.va-ic-wrapper-container {
    display: grid;
    grid-template-columns: 1fr;
}
.va-ic-header-container {
    display: flex;
    justify-content: space-between;
    background-color: $prim;
    padding: 8px 16px;
}

// Dashboard Top Layer
.va-ic-dash-main {
    display: grid;
    justify-content: center;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.05);
}
.va-ic-dash-submain {
    display: grid;
    justify-content: center;
    padding: 16px;
}
.va-ic-dash-wrapper {
    width: 600px;
}
.va-ic-dash-top-details {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(3, 1fr);

    & details {
        border-top: 4px solid $prim;
        padding-top: 8px;

        & summary {
            list-style: none;
        }
    }
}
.va-ic-hld-table {
    & .va-ic-table-title {
        font-weight: bold;
        text-transform: uppercase;
        border-top: 2px solid $prim;
        border-bottom: 2px solid $prim;
    }

    & div {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;
        align-items: center;
        padding: 16px 0;

        & ~ div ~ div {
            border-top: 1px solid $prim;
        }

        & p:last-child {
            text-align: right;
            justify-self: end;
        }

        & p {
            line-height: .75em;

            span {
                display: block;
            }

            sub {
                color:rgba(0, 0, 0, 0.5)
            }
        }
    }
}
